@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    João Neto Silva Mendes<br />
    Uberlândia, MG 38402-192<br />
    <abbr title="Phone">Phone:</abbr>
    34 99872 6858
</address>

<address>
    <strong>Support:</strong> <a href="joaoneto_silvamendes@hotmail.com">joaoneto_silvamendes@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="https://www.linkedin.com/in/jo%C3%A3o-neto-silva-mendes-89a862155/">https://www.linkedin.com/in/joão-neto-silva-mendes-89a862155/</a>
</address>
